html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Halifax Light';
    src: url('/fonts/Halifax/Halifax-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('/fonts/Fontspring/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('/fonts/Fontspring/Fontspring-DEMO-theseasons-bd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('/fonts/Fontspring/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Multiple Sans Pro';
    src: url('/fonts/Mulitple_Sans/Multiple Sans Pro.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Multiple Sans Pro';
    src: url('/fonts/Mulitple_Sans/Multiple Sans Pro Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Multiple Sans Pro';
    src: url('/fonts/Mulitple_Sans/Multiple Sans Pro ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Italic versions */
@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DM_Sans/DMSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
