@supports (-webkit-touch-callout: none) {
    select {
        color: #222 !important;
        background-color: #fff !important;
        -webkit-appearance: none !important;
        appearance: none !important;
    }

    input[type="date"] {
        -webkit-appearance: textfield !important;
        appearance: textfield !important;
        background: white !important;
        height: 42px !important;
        padding: 10px !important;
        font-size: 0.875rem !important;
        border: 1px solid #ccc !important;
        border-radius: 5px !important;
        box-sizing: border-box !important;
        line-height: normal !important;
        min-width: 0 !important;
        text-align: left !important;
    }

    input[type="date"]::-webkit-datetime-edit {
        text-align: left !important;
    }

    input::-webkit-date-and-time-value {
        text-align: left;
        width: 95% !important;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-clear-button {
        display: none !important;
    }
}