$primary-bg: rgba(36, 108, 155, 0.9);
$secondary-bg: rgba(23, 43, 56, 0.9);
$orange-highlight: rgba(245, 179, 0, 1);
$white-text: white;
$black-text: black;

$label-color: rgb(88, 92, 123);

@import 'fonts';
@import 'page';
@import 'safari';

