
@section Head {
    <script type="text/javascript">
        (function(g,r,s,f){g.grsfSettings={campaignId:"wgllwy",version:"2.0.0"};s=r.getElementsByTagName("head")[0];f=r.createElement("script");f.async=1;f.src="https://app.growsurf.com/growsurf.js"+"?v="+g.grsfSettings.version;f.setAttribute("grsf-campaign", g.grsfSettings.campaignId);!g.grsfInit?s.appendChild(f):"";})(window,document);
    </script>
}

<h2>Thank you!</h2>
<p>Your membership application has been successfully submitted. We will contact you soon.</p>
