@use 'variables';

.tabs {
    border-bottom: 2px solid variables.$tab-border-color;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tab-button {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 4px solid transparent;

    &[aria-selected="true"] {
        border-color: variables.$primary-color;
        font-weight: 600;
    }
}

.tab-panel {
    display: none;

    &[aria-hidden="false"] {
        display: block;
    }
}

.expand-all {
    .tabs {
        display: none !important;
    }

    .tab-panel {
        display: block !important;
    }
}
