@use "./shared/index" as s;

.subpage {
    @include s.page-shell;
}

.subpage__title {
    @include s.heading-md;
}

.subpage__header {
    display: flex;
    grid-template-columns: 44px 1fr 44px;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
}

.subpage__back {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    text-decoration: none;
    color: inherit;
    background: rgba(255,255,255,.9);
    border: 1px solid rgba(0,0,0,.06);
    box-shadow: 0 10px 18px rgba(0,0,0,.08);
    font-size: 1.6rem;
    line-height: 1;
}

.subpage__spacer {
    width: 40px;
    height: 40px;
}

.subpage__head,
.subpage__content {
    max-width: 720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subpage__content > * {
    width: 100%;
}

.subpage__head > * {
    width: 100%;
}

.subpage__subtitle {
    display: block;
    width: 100%;
    max-width: none;
}

.subpage__back:focus {
    outline: 3px solid #9ecbff;
    outline-offset: 2px;
}

