@use "./variables" as *;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
    line-height: 1.4;
    background: #fafafa;
    color: #333333;
}

.app-wrap {
    max-width: $app-max;
    margin: 1rem auto;
    padding: 0 1rem 2rem;
}
