body {
    font-family: 'The Seasons', Arial, Georgia, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('/img/course-photo.jpg') no-repeat center center fixed;
    background-size: cover;
}

.leaderboard {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    width: 80%;
    height: 90%;
    background: linear-gradient(to bottom right, $primary-bg, $secondary-bg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.flash {
    position: absolute;
    top: -1000%;
    left: -1000%;
    width: 400%;
    height: 400%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-30deg);
    animation: flash 12s infinite;
}

@keyframes flash {
    0%, 10%, 90%, 100% {
        opacity: 1;
    }

    100% {
        top: 1000%;
        left: 1000%;
    }
}

.header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 3em;
    color: $white-text;

    .trophy-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img.trophy {
        margin-right: 20px;
        height: clamp(.75rem, 5vw, 3em);
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 5vw
    }
}

.content {
    display: grid;
    grid-template-columns: .5fr 4fr .5fr;
    grid-column: 1 / -1;
    gap: 10px;
    font-size: clamp(.75rem, 2vw, 3em);
    letter-spacing: 1px;
}

.table-container {
    position: relative;
    z-index: 1;

    .orange-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20%;
        background-color: $orange-highlight;
        z-index: 0;
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    position: relative;
    z-index: 1;

    th, td {
        padding: 10px;
        text-align: left;
        transition: transform 0.5s ease;
        background: transparent;
        color: $black-text;
    }

    th {
        color: $black-text;
        text-align: center;
    }
}

.rank-cell, .name-cell {
    color: $white-text;
}

.handicap-cell {
    color: $black-text;
    text-align: center;

    .badge {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        line-height: 30px;
        font-size: 15px;
        background: white;
        text-align: center;
    }
}

.par-cell, .score-cell, .thru-cell {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}

tr {
    background: rgba(255, 255, 255, 0.1);
}

.moving-up {
    animation: move-up 0.5s forwards;
}

.moving-down {
    animation: move-down 0.5s forwards;
}

@keyframes move-up {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes move-down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.logo {
    position: absolute;
    bottom: 30px;
    left: 30px;
    opacity: 0.5;
    max-width: 300px;
}

#leaderboard-body tr {
    transition: transform 0.5s ease-in-out;
    height: 2.5rem;
    display: table-row;
    width: 100%;
}

.score-header {
    color: black;
}

.handicap-cell, .score-cell, .par-cell, .thru-cell {
    padding: 0.5rem;
    text-align: center;
    color: white;

    .overall-score-cell {
        color: black;
    }
}

/* Additional Styles for Collapsible Score Table */
.details-row {
    display: none;
    background-color: #f9f9f9;
}

.score-details {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
}

/* Styles for Highlighting Scores */
.counted-score {
    background-color: lightgreen;
    font-weight: bold;
}

.final-score {
    background-color: gold;
    font-weight: bold;
}

/* Clickable Player Row */
.player-row {
    cursor: pointer;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}
